html,body {
    /* background-color: blue; */
    height: 100%;
    margin: 0;
    /* overflow: hidden; */
}

.formValidationContainer {
    height: 100%;
    /* background-color: red; */
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.welcomeText {
    text-align: center;
}

.textEditorGroup {
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 0em;
}

.textEditor {
    resize: none;
}


form {
    /* background-color: yellow; */
    padding: 5em;
}

.error {
    color: red;
}

.success {
    color: green;
}